/*.Title{*/
/*    width: 15px;*/
/*    height: 30px;*/
/*    background-color: red;*/
/*    border-radius: 2px;*/
/*    margin-top: 10px;*/
/*}*/
p{
    background-color: rgba(211, 211 , 211 , 0.4);
    width: 100% !important;
    height: 30px;
    color: red;
    margin-left: 10px;
    border-left: 25px solid red;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
