p{
    background-color: rgba(211, 211 , 211 , 0.4);
    width: 100% !important;
    height: 30px;
    color: #DB4444;
    margin-left: 10px;
    border-left: 25px solid #DB4444;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
